* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', 'Arial', sans-serif;
    background-color: #044334;
    margin: auto;
}

.menu {
    display: flex;
    min-height: 70px;
    padding-top: 1%;
    padding-bottom: 1%;
    background-color: #30E1A1;
    align-items: center;
    margin: auto;
    white-space: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

.menu__item {
    font-size: 2vw;
    text-align: center;
    text-decoration: none;
    color: #044334;
    margin: auto;
    justify-content: space-between;
    font-weight: 600;
}

.menu__image {
    height: 4vw;
    width: 4vw;
    margin-left: 5%;
    margin-right: 5%;
}

.search {
    width: 100%;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #C8EDF9;
}

.search__loop {
    width: 3vw;
    margin-left: 11vw;
    margin-right: 1vw;
}

.search__word {
    font-size: 2vw;
    font-weight: 400;
    color: #044334;
    margin-right: auto;
}

.search__filter {
    width: 3vw;
    margin-right: 11vw;
}
