* {
 box-sizing: border-box;
}

 body {
  display: grid;
  font-family: 'Inter', 'Arial', sans-serif;
  background-color: #044334;
  margin: auto;
  align-items: center;
  justify-content: space-around;
 }

.authorization {
 display: grid;
  height: 30vw;
  width: 50vw;
  background-color: #ffffff;
  margin: auto;
  border-radius: 40px 40px 40px 40px;
  text-align: center;
  align-items: center;
  gap: 0px;
}

.authorization__name {
 color: #000000;
 font-size: 2vw;
 font-weight: 600;
}

.authorization__button {
 align-items: center;
 border: none;
 background: none;
 width: 60%;
 margin: auto;
 margin-top: 0;
}

.logo {
 display: flex;
 text-align: center;
 white-space: nowrap;
 align-items: center;
 flex-direction: row;
 justify-content: center;
 margin-top: 10%;
 gap: 1%;
 margin-bottom: 2%;
}

 .logo__text {
 font-size: 1.5vw;
 font-weight: 200;
 text-decoration: none;
 color: #ffffff;
 align-items: center;
 text-align: center;
 }

 .logo__image {
  height: 2vw;
  width: 2vw;
  align-items: center;
 }
